
@using System.Web.Optimization
@model IEnumerable<SeminarskiRad.Models.Context.SeminarContext.Seminar>
@{
    Layout = null;
}

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <table class="footable table table-stripped toggle-arrow-tiny" data-paging="true" data-sorting="true"  data-show-toggle="true" data-expand-first="false" data-page-size="8" data-filtering="true" data-filter-placeholder="Pretrazivanje">
                <thead>
                <tr>
                    <th>Naziv</th>
                    <th data-breakpoints="xs sm">Opis</th>
                    <th>Datum</th>
                    <th data-breakpoints="xs sm">Maksimalni broj studenta</th>
                    <th data-breakpoints="xs sm">Broj prijava</th>
                    <th data-breakpoints="xs sm">Odobreno studenata</th>
                    <th data-breakpoints="xs sm">Predavač</th>
                    <th data-breakpoints="xs sm">Zatvoren</th>
                    <th data-breakpoints="xs sm" data-filterable="false"></th>
                    <th data-breakpoints="xs sm" data-filterable="false"></th>
                    <th data-breakpoints="xs sm" data-filterable="false"></th>
                    <th data-breakpoints="xs sm" data-filterable="false"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var seminar in Model)
                {
                    <tr>
                        <td>@seminar.Title</td>
                        <td>@seminar.SeminarDescription</td>
                        <td>@seminar.SeminarDate.ToShortDateString()</td>
                        <td>@seminar.MaxStudents</td>
                        <td>@seminar.Bookings.Count()</td>
                        <td>@seminar.Bookings.Where(b=>b.Approved).Count()</td>
                        <td>@seminar.Teacher</td>
                        <td>
                            @if (seminar.Closed)
                            {
                                @Html.Raw("Da")
                            }
                            else
                            {
                                @Html.Raw("Ne")
                            }
                        </td>
                        <td><button type="button" class="btn btn-primary" value="@seminar.ID" data-toggle="modal" data-target="#btnEdit" style="float: left; padding: 2px">Uredi</button></td>
                        <td><button type="button" class="btn btn-success" value="@seminar.ID" data-toggle="modal" data-target="#btnStudenti" style="float: left; padding: 2px">Studenti</button></td>
                        <td><button type="button" class="btn btn-danger" value="@seminar.ID" data-toggle="modal" data-target="#btnDelete" style="float: left; padding: 2px">Obriši</button></td>
                        <td>
                            @if (!seminar.Closed)
                            {
                                <button type="button" class="btn btn-warning" value="@seminar.ID" data-toggle="modal" data-target="#btnClose" style="float: left; padding: 2px">Zatvori</button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>



